logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
static/node_modules
static/public/*
!static/public/fonts/
!static/public/images/
sessions/*
!sessions/empty
settings.json
app/sch/utils
